<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="{{ app.user ? app.user.preferedTheme == 'system' ? (app.request.cookies.get('system-theme') ?? 'light') : app.user.preferedTheme : 'light' }}" data-controller="theme" data-theme-update-url-value="{{ app.user ? path('dashboard_theme_update') }}" data-theme-theme-value="{{ app.user ? app.user.preferedTheme }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{# Open Graph SEO #}
		<meta property="og:locale" content="{{ app.request.locale }}_{{ app.request.locale|upper }}"/>
		<meta property="og:url" content="{{ app.request.schemeAndHttpHost }}"/>
		<meta property="og:site_name" content="SaaS Starter"/>

		{# Favicon - SVG + fallback PNG/iOS/ICO/Manifest #}
		<link rel="icon" type="image/svg+xml" href="{{ asset('build/images/favicon/favicon.svg') }}"/>
		<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/images/favicon/favicon-96x96.png') }}"/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/favicon/apple-touch-icon.png') }}"/>
		<link rel="shortcut icon" href="{{ asset('build/images/favicon/favicon.ico') }}"/>
		<link rel="manifest" href="{{ asset('build/images/favicon/site.webmanifest') }}"/>

		{# Page Title #}
		<title>
			{% block title %}SaaS Starter{% endblock %}
		</title>

		{# Encore Assets (CSS + JS) #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<script>
			// Détecter le thème système au chargement
			if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.cookie = 'system-theme=dark;path=/;';
			} else {
				document.cookie = 'system-theme=light;path=/;';
			}

			// Écouter les changements de préférence système
			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
				document.cookie = `system-theme=${e.matches ? 'dark' : 'light'};path=/;`;
			});
		</script>
	</head>
	<body class="bg-white dark:bg-gray-800 dark:text-white" data-controller="app">
		{{ component('FlashMessage') }}
		<div class="flash">
			{# L'ancien include n'est plus utile : {% include "_flash.html.twig" %} #}
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
