<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		{# Open Graph SEO #}
		<meta property="og:locale" content="fr_FR"/>
		<meta property="og:url" content="https://www.postgenius.app"/>
		<meta
		property="og:site_name" content="PostGenius"/>

		{# Favicon - SVG + fallback PNG/iOS/ICO/Manifest #}
		<link rel="icon" type="image/svg+xml" href="{{ asset('build/images/favicon/favicon.svg') }}"/>
		<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/images/favicon/favicon-96x96.png') }}"/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/favicon/apple-touch-icon.png') }}"/>
		<link rel="shortcut icon" href="{{ asset('build/images/favicon/favicon.ico') }}"/>
		<link
		rel="manifest" href="{{ asset('build/images/favicon/site.webmanifest') }}"/>

		{# Page Title #}
		<title>
			{% block title %}PostGenius
			{% endblock %}
		</title>

		{# Encore Assets (CSS + JS) #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-white dark:bg-gray-800 dark:text-white" data-controller="app"> {% block body %}{% endblock %}
		</body>
	</html>
