<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" data-controller="modal">
	{% include "_modal.html.twig" %}
	{% for post in posts %}
		<a href="#" data-action="click->modal#open" data-content="{{ post.content }}" data-id="{{ post.id }}">
			<div class="bg-white dark:bg-gray-800 border shadow-sm px-4 py-3 rounded-lg relative group transition-opacity duration-300 animate-fade-in">
				<div class="flex items-center">
					<img class="h-10 w-10 rounded-full object-cover" src="{{ asset('build/images/default-user.svg') }}" alt="Avatar">

					<div class="ml-2">
						<div class="text-sm">
							<span class="font-semibold">{{ app.user.fullname|default('PostGenius User') }}</span>
							<span class="text-gray-500">
								• 1st</span>
						</div>
						<div class="text-gray-500 text-xs">Membre PostGenius</div>
						<div class="text-gray-500 text-xs flex">
							<span>{{ post.createdAt|ago }}</span>
						</div>
					</div>

					<button {{ live_action('toggleFavorite', { id: post.id } ) }} class="ml-auto text-gray-400 hover:text-yellow-400">
						{% if post.isFavorite %}⭐{% else %}☆
						{% endif %}
					</button>
				</div>

				<p class="text-gray-800 dark:text-gray-300 text-sm mt-2 leading-normal">{{ post.content|slice(0, 200) }}...</p>
			</div>
		</a>
	{% endfor %}
</div>
