<div{{attributes}} class="max-w-xl space-y-6 mx-auto">
	{{ form_start(form) }}

	<p class="text-center">
		{{'Current e-mail' | trans}}
		:
		<strong>
			{{app.user.email}}
		</strong>
	</p>

	{{ form_row(form.newEmail, {
            label_attr: { class: 'block text-sm font-medium text-gray-700 dark:text-white' },
            attr: { class: 'w-full p-2 my-4 rounded bg-gray-50 dark:bg-gray-700 border dark:border-gray-600 text-sm' }
        }) }}
	<button data-action="live#action" data-live-action-param="updateEmail" data-live-submit="prevent" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
		{{ 'Save changes'|trans }}
	</button>

	{{ form_end(form) }}
</div>
