<div {{ attributes }} class="flex items-center justify-center gap-2 text-sm">

	<button {{ live_action('changePage', { page: this.currentPage - 1 } ) }} class="px-3 py-1 border rounded hover:bg-gray-100 dark:hover:bg-gray-700" {{ this.currentPage == 1 ? 'disabled class=opacity-50 cursor-not-allowed' : '' }}>
		&laquo;
	</button>

	{% for page in 1..this.totalPages %}
		<button {{ live_action('changePage', { page: page } ) }} class="px-3 py-1 border rounded hover:bg-gray-100 dark:hover:bg-gray-700
				            {{ page == this.currentPage ? 'bg-blue-600 text-white' : '' }}">
			{{ page }}
		</button>
	{% endfor %}

	<button {{ live_action('changePage', { page: this.currentPage + 1 } ) }} class="px-3 py-1 border rounded hover:bg-gray-100 dark:hover:bg-gray-700" {{ this.currentPage == this.totalPages ? 'disabled class=opacity-50 cursor-not-allowed' : '' }}>
		&raquo;
	</button>

</div>
